.ownable() {
  &.one {
    background: @bg-blue;
    border: 0.1rem solid @border-blue;
  }

  &.two {
    background: @bg-red;
    border: 0.1rem solid @border-red;
  }
}

.ownable-text() {
  &.one {
    color: @bg-blue;
  }

  &.two {
    color: @bg-red;
  }
}

.powerup() {
  border-radius: 0.4rem;
}

.text() {
  line-height: 1.0;
  text-align: center;
}

.ball {
  .ownable();
  background: @gray-10;
  border-radius: 50%;
}

.box {
  border: 1px solid @gray-10;
}

.bullet {
  background: @gray-10;
}

.bullets {
  .powerup();
  background: @gray-60;
}

.countdown {
  .text();
}

.fastball {
  .powerup();
  background: yellow;
}

.growth {
  .powerup();
  background: green;
}

.paddle, .computer {
  .ownable();
  background: @gray-20;
  border-radius: 0.4rem;
}

.score {
  .ownable-text();
  .text();
}

.wall {
  background: @gray-90;
  z-index: -1000;
}
